<div class="container go_to_patient" style="background-color: #e2e5f8; border-radius: 3px; margin-top: 10px; padding-bottom: 7px;">
    <span style="font-size: 20px; font-weight: 700;" id="patientName" class="go_to_patient go_to_patient_child">BVz</span>
    <div style="padding-bottom: 2px;" class="go_to_patient go_to_patient_child">  
        <label class="go_to_patient go_to_patient_double_child">Дата рождения - </label>
        <label style="font-weight: 600;" id="patientBirthDate" class="go_to_patient go_to_patient_double_child">Дата рождения</label>
    </div>
    <div style="padding-bottom: 2px;" class="go_to_patient go_to_patient_child">
        <label class="go_to_patient go_to_patient_double_child">Пол - </label>
        <label style="font-weight: 600;" id="patientGender" class="go_to_patient go_to_patient_double_child">Пол</label>
    </div>
</div>